<ul>
    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Über uns", "about", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Impressum", "impressum", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Campingplatz", "index", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Information", "info", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Preis", "preis", "campingplatz")</li>
    <li class="nav_level2">@Html.ActionLink("Bilder", "bilder", "campingplatz")</li>
    <li class="nav_level1">@Html.ActionLink("Reservierung", "reservierung", "reservierung")</li>
    <li class="nav_level2">@Html.ActionLink("Anfrage", "anfrage", "reservierung")</li>
    <li class="nav_level1">@Html.ActionLink("Benutzerverwaltung", "index", "benutzerverwaltung")</li>
    <li class="nav_level2">@Html.ActionLink("Registration", "registration", "benutzerverwaltung")</li>
    <li class="nav_level2">@Html.ActionLink("Login", "login", "benutzerverwaltung")</li>
    <li class="nav_level1">@Html.ActionLink("Admin", "index", "admin")</li>
    <li class="nav_level2">@Html.ActionLink("Reservierungs Anfrage", "reservierungsanfrage", "admin")</li>
    <li class="nav_level2">@Html.ActionLink("Registrierte Benutzer", "registrietebenutzer", "admin")</li>
</ul>
