@model List<Fagschlunger_Camping.Models.Reservierung>

@using Fagschlunger_Camping.Models

@{
    ViewBag.Title = "Reservierungsanfrage";
}

<h2 class="text1">Reservierungsanfrage</h2>
<br />

<form></form>


@if ((Model != null) && (Model.Count > 0))
{

    <p class="text5">Registrierte Anfragen:</p>
    <table>
        <thead class="thead">
            <tr>
                <td width="100">ID</td>
                <td width="200">Vorname</td>
                <td width="200">Nachname</td>
                <td width="200">Ankunftsdatum</td>
                <td width="200">Abreisedatum</td>
                <td width="100">Personen</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Reservierung r in Model)
            {
                <tr>
                    <td>@r.ID</td>
                    <td>@r.Firstname</td>
                    <td>@r.Lastname</td>
                    <td>@r.Ankunftsdatum</td>
                    <td>@r.Abreisedatum</td>
                    <td>@r.Personen</td>
                    <td>
                        <form method="post" action="/admin/update/@r.ID">
                            <input type="submit" value="Updaten" />
                        </form>
                        <form method="post" action="/admin/delete/@r.ID">
                            <input type="submit" value="Löschen" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"></td>
            </tr>
        </tfoot>


    </table>


}