@model List<Fagschlunger_Camping.Models.Reservierung>

@using Fagschlunger_Camping.Models

@{
    ViewBag.Title = "Reservierungsanfrage";
}

<h2>Reservierungsanfrage</h2>

<form></form>


@if ((Model != null) && (Model.Count > 0))
{

    <table>
        <thead>
            <tr>
                <td colspan="6">Registrierte Anfragen</td>
                <td>ID</td>
                <td>Vorname</td>
                <td>Nachname</td>
                <td>Ankunftsdatum</td>
                <td>Abreisedatum</td>
                <td>Personen</td>
                <td>löschen</td>
                <td>update</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Reservierung r in Model)
            {
                <tr>
                    <td>@r.ID</td>
                    <td>@r.Firstname</td>
                    <td>@r.Lastname</td>
                    <td>@r.Ankunftsdatum</td>
                    <td>@r.Abreisedatum</td>
                    <td>@r.Personen</td>
                    <td>

                        @*Formular für den Löschen Button erzeugen*@
                        @*method = post ... Formulardaten werden nicht in der Addressleiste übertragen
                            action ... wohin soll das Formular gesendet werden (AdminController und dort an die delete-Methode)
                            es wird ein Parameter mit dem Namen id übermittelt*@

                        <form method="post" action="/admin/update/@r.ID">
                            <input type="submit" value="Updaten" />
                        </form>

                    </td>
                    <td>update</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"></td>
            </tr>
        </tfoot>


    </table>


}